<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.notetaker</string>
	<key>connections</key>
	<dict>
		<key>00EFFEBD-C714-4CAB-B92C-BDDBE67722E7</key>
		<array/>
		<key>03643B46-4437-4668-B20D-2426B2945D5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39AEE376-1119-4C0E-BF24-CB23030EE283</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Populate note with clipboard contents</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00EFFEBD-C714-4CAB-B92C-BDDBE67722E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3078BCDF-E3A8-45C7-9EB8-8EE49B29FC2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39AEE376-1119-4C0E-BF24-CB23030EE283</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35C8230F-B24B-433B-AD8A-97530A5C5B86</key>
		<array/>
		<key>39AEE376-1119-4C0E-BF24-CB23030EE283</key>
		<array/>
		<key>45EDDC71-B661-4406-B076-64091AE6AC94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C8230F-B24B-433B-AD8A-97530A5C5B86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBD71B97-DD3E-4484-A6DF-8630133F8F63</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and delete note</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6A37A51-1C81-4498-8A9F-6C5CE2C42C2F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy note</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>668F7CBF-75DD-41DE-B709-AAFA9E71D33D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45EDDC71-B661-4406-B076-64091AE6AC94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B624B4D-A785-4CE0-9010-6D1220595A1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03643B46-4437-4668-B20D-2426B2945D5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F9BEC2F-8B76-4495-ADFB-310A17A94764</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03643B46-4437-4668-B20D-2426B2945D5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A38531BC-2CB7-4D2A-B0E9-DB2B398B867B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3078BCDF-E3A8-45C7-9EB8-8EE49B29FC2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC7E8F41-5BE5-4C50-95FD-08B2631BE366</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>668F7CBF-75DD-41DE-B709-AAFA9E71D33D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D004042C-58C6-4A14-9D27-EFE19796B8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F9BEC2F-8B76-4495-ADFB-310A17A94764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB332662-BF12-45B2-B850-6D9D80C15B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6A37A51-1C81-4498-8A9F-6C5CE2C42C2F</key>
		<array/>
		<key>EBD71B97-DD3E-4484-A6DF-8630133F8F63</key>
		<array/>
		<key>FB332662-BF12-45B2-B850-6D9D80C15B1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC7E8F41-5BE5-4C50-95FD-08B2631BE366</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EEB04E9B-DCE4-4015-A28C-2F70C0C170B3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>668F7CBF-75DD-41DE-B709-AAFA9E71D33D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Keep small bits of text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Note Taker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A38531BC-2CB7-4D2A-B0E9-DB2B398B867B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd-HH-mm-ss}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3078BCDF-E3A8-45C7-9EB8-8EE49B29FC2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>D004042C-58C6-4A14-9D27-EFE19796B8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/notetaker_functions.rb"

add_note(title: ARGV[0], content: ENV['action_text'] || Open3.capture2('pbpaste').first)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39AEE376-1119-4C0E-BF24-CB23030EE283</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F9BEC2F-8B76-4495-ADFB-310A17A94764</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>add_note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8B624B4D-A785-4CE0-9010-6D1220595A1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/notetaker_functions.rb"

New_note = add_note(title: ARGV[0], content: ENV['action_text'] || '')
edit_note(path: New_note.to_path)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00EFFEBD-C714-4CAB-B92C-BDDBE67722E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:add_note_keyword}</string>
				<key>subtext</key>
				<string>Create and edit (↩), Populate with clipboard (⌘↩)</string>
				<key>text</key>
				<string>New note title: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03643B46-4437-4668-B20D-2426B2945D5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>*</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AC7E8F41-5BE5-4C50-95FD-08B2631BE366</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/notetaker_functions.rb"

edit_note(path: ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35C8230F-B24B-433B-AD8A-97530A5C5B86</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array>
					<string>net.daringfireball.markdown</string>
					<string>public.plain-text</string>
					<string>public.rtf</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>45EDDC71-B661-4406-B076-64091AE6AC94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:view_notes_keyword}</string>
				<key>subtext</key>
				<string>Edit (↩), Copy (⌥↩), Copy and delete (⌘↩), Preview (⇧)</string>
				<key>text</key>
				<string>View notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:input_asterisk}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Asterisk</string>
						<key>uid</key>
						<string>EEB04E9B-DCE4-4015-A28C-2F70C0C170B3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Asterisk</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FB332662-BF12-45B2-B850-6D9D80C15B1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : { "scopes" : [ "{var:notes_dir}" ] }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>668F7CBF-75DD-41DE-B709-AAFA9E71D33D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/notetaker_functions.rb"

copy_note(path: ARGV[0])
trash(path: ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EBD71B97-DD3E-4484-A6DF-8630133F8F63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/notetaker_functions.rb"

copy_note(path: ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6A37A51-1C81-4498-8A9F-6C5CE2C42C2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Create new notes via the Add Note Keyword (default: `nadd`). Type a name and press &lt;kbd&gt;↩&lt;/kbd&gt; to open the file for editing. Use &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to save a file with the clipboard contents.

![Alfred search for nadd](images/about/nadd.png)

With the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/), save selected text or an item from [Clipboard History](https://www.alfredapp.com/help/features/clipboard/).

![Universal Action for add note](images/about/ua.png)

Search your notes with the View Notes Keyword (default: `nview`).

![Alfred search for nview](images/about/nview.png)

* &lt;kbd&gt;↩&lt;/kbd&gt;: Open in your text editor.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Copy contents.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Copy contents and delete note.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; (or tap &lt;kbd&gt;⇧&lt;/kbd&gt;): Quick Look the file.</string>
	<key>uidata</key>
	<dict>
		<key>00EFFEBD-C714-4CAB-B92C-BDDBE67722E7</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>03643B46-4437-4668-B20D-2426B2945D5A</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>3078BCDF-E3A8-45C7-9EB8-8EE49B29FC2E</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>35C8230F-B24B-433B-AD8A-97530A5C5B86</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>39AEE376-1119-4C0E-BF24-CB23030EE283</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>45EDDC71-B661-4406-B076-64091AE6AC94</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>668F7CBF-75DD-41DE-B709-AAFA9E71D33D</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>8B624B4D-A785-4CE0-9010-6D1220595A1C</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>8F9BEC2F-8B76-4495-ADFB-310A17A94764</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>A38531BC-2CB7-4D2A-B0E9-DB2B398B867B</key>
		<dict>
			<key>note</key>
			<string>Instant note from most recent clipboard item. Will be named with the current date.</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>AC7E8F41-5BE5-4C50-95FD-08B2631BE366</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>D004042C-58C6-4A14-9D27-EFE19796B8AF</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>D6A37A51-1C81-4498-8A9F-6C5CE2C42C2F</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>EBD71B97-DD3E-4484-A6DF-8630133F8F63</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>FB332662-BF12-45B2-B850-6D9D80C15B1F</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nadd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add Note Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_note_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>View Notes Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>view_notes_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Notes Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>notes_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>md</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Markdown (.md)</string>
						<string>md</string>
					</array>
					<array>
						<string>Plain Text (.txt)</string>
						<string>txt</string>
					</array>
					<array>
						<string>Rich Text (.rtf)</string>
						<string>rtf</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New File Type</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>new_file_extension</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Start notes search with an asterisk</string>
			</dict>
			<key>description</key>
			<string>Searching for an asterisk shows every note but is slower.</string>
			<key>label</key>
			<string>Show All</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>input_asterisk</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2022.2</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/note-taker-workflow/</string>
</dict>
</plist>
